body { 
    font-family: helvetica, sans-serif;
    background-color: white;
    color: #000000; 
} 

li {
    margin-bottom: 10px;
}

li button {
    font-size: 16px;
    margin-left: 25px;
    /* color: #666; */
    color: slategray;
}

h1{
    color: skyblue;
}